<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>218475466773-slmh6nkq6e3ri13qd2rc6e9k4g3es76m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.218475466773-slmh6nkq6e3ri13qd2rc6e9k4g3es76m</string>
	<key>API_KEY</key>
	<string>AIzaSyD9hP_CUE7L_DVQ6VrujmI8xw75gSHB2yA</string>
	<key>GCM_SENDER_ID</key>
	<string>218475466773</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>comHashim.ChatApp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-48875</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-48875.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:218475466773:ios:c0858ad0890f99d6cbbe1c</string>
</dict>
</plist>